:root {
  --color-pri-light: #faf2eb;
  --color-pri-med: #f1dfcd;
  --color-pri-dark: #f4dccd;
  --color-sec-light: #b9db97;
  --color-sec-dark: #adc9b8;
  --color-carrot: #ffb548;
  --color-grapefruit: #ca6d4f;
  --color-beet: #e577cb;
  --color-blueberry: #416ba9;
}