:root {
  --pri-light: #fffaf6;
  --pri-med: #faf2eb;
  --pri-dark: #F9E8D7;
  --sec-light: #CFE2D4;
  --sec-dark: #95B29C;
  --carrot: #F9941C;
  --grapefruit: #CA6D4F;
  --beet: #E577CB;
  --blueberry: #377EC4;
}