:root {
  --pri-light: #faf2eb;
  --pri-med: #f1dfcd;
  --pri-dark: #f2cfba;
  --sec-light: #CFE2D4;
  --sec-dark: #95B29C;
  --carrot: #F9941C;
  --grapefruit: #CA6D4F;
  --beet: #E577CB;
  --blueberry: #377EC4;
}