@import '../styles/custom-properties.css';

.button {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 auto;
  width: 100%;
  max-width: 336px;
  padding: 0.5rem;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--beet);
  border: 3px solid var(--beet);
  cursor: pointer;
  transition: 
    transform ease-in-out 100ms,
    box-shadow ease-in 250ms;
}

.button:hover {
  background-color: var(--beet);
  color: #fff;
  outline: none;
}

.button:focus {
  outline: none;
  /* box-shadow: 0 0 2px 2px var(--grapefruit); */
}

.active {
  transform: scale(0.95);
  color: rgb(221, 221, 221);
  border-color: #ac4694;
  background: 
    linear-gradient(
      to left,
      #ac4694,
      #ac4694
    );
}

@media (min-width: 700px) {
  .button {
    width: 60%;
    min-width: 260px;
  }
}