@import '../styles/custom-properties.css';

.button {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
  padding: 1rem;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--grapefruit);
  border: 3px solid var(--grapefruit);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--grapefruit);
  color: #fff;
  border-color: var(--grapefruit);
  outline: none;
}