.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.line:before {
  content: '';
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.link {
  composes: button from './button.module.css';
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:focus {
  outline: none;
  border: 2px solid black;

  box-sizing: border-box;
}