@import '../styles/custom-properties.css';

.root {
  margin-top: 90px;
  height: 80vh;
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 auto 2rem;
  text-align: center;
}

.caption {
  margin: 0 1.4rem 1rem;
  font-size: 1rem;
  text-align: left;
  max-width: 700px;
}

@media (max-width: 300px) {
  .root {
    height: 100vh;
    padding-top: 3rem;
  }
}

@media (min-width: 700px) {
  .root {
    max-width: 484px;
  }
  
  .title {
    font-size: 4rem;
  }

  .caption {
    text-align: center;
  }
}

@media (min-width: 1100px) {
  .root {
    max-width: unset;
  }
}