.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  margin: -2rem 0 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.icon {
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid #659d2d;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.item p {
  font-size: 0.65rem;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}

.item p:first-of-type {
  padding-top: 0.4rem;
}

.icon::after,
.icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40%;
}