.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-areas:
  "clock phone house"
  "doctor timer board"
  "veggies hoop syringe";
}

.icon {
  position: relative;
  margin: 0 auto;
  border-bottom: 1px solid white;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}

.item p {
  font-size: 0.65rem;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}

.item p:first-of-type {
  padding-top: 0.4rem;
}

.icon::after,
.icon::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 40%;
}

.clock {
  composes: item;
  grid-area: clock;
}

.phone {
  composes: item;
  grid-area: phone;
}

.house {
  composes: item;
  grid-area: house;
}

.doctor {
  composes: item;
  grid-area: doctor;
}

.timer {
  composes: item;
  grid-area: timer;
}

.board {
  composes: item;
  grid-area: board;
}

.veggies {
  composes: item;
  grid-area: veggies;
}

.hoop {
  composes: item;
  grid-area: hoop;
}

.syringe {
  composes: item;
  grid-area: syringe;
}

@media (max-width: 700px) {
  .grid {
    margin: -2rem 0 2rem;
  }
}