.dual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.first,
.second {
  width: 100%;
  max-width: 515px;
}

.second {
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .dual {
    flex-direction: row;
    align-items: flex-start;
    max-width: 900px;
    margin: 0 auto;
  }

  .first,
  .second {
    width: 48%;
  }

  .second {
    margin-top: 0;
  }
}