@import '../styles/custom-properties.css';

.footer {
  padding: 2rem 1rem 1rem;
  background-color: var(--beet);
}

.footer h3 {
  margin-bottom: 0.25rem;
}

.wrapper {
  max-width: 700px;
}

.logo {
  width: 40%;
  max-width: 150px;
  margin-bottom: 1rem;
  margin-left: -1rem;
}

.info {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.item {
  max-width: 300px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.icon {
  width: 45px;
  height: 45px;
}

.icon:not(:first-child) {
  margin-left: 0.5rem ;
}

.copy > * {
  margin: 0;
  font-size: 0.85rem;
}

@media (min-width: 1233px) {
  .wrapper {
    margin: 0 auto;
  }

  .info {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

