@import '../styles/custom-properties.css';

.title {
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 900px;
  color: #ca6d4f; 
  border-bottom: 2px solid black;
  text-align: center;
}

.caption {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}