.subheader { margin-bottom: 0.5rem; }

@media (min-width: 1233px) {
  .dual {
    max-width: 1300px;
    justify-content: center;
  }

  .copy {
    flex-grow: 1;
    max-width: unset;
  }

  .grid {
    flex-grow: 1;
    width: fit-content;
    max-width: unset;
  }
}