.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(2, 200px);
}