@media (max-width: 700px) {
  .img {
    width: calc(100% - 4rem);
    max-width: calc(515px - 4rem);
    margin: 0 auto;
  }

  .copy {
    order: 2;
  }
}

@media (min-width: 701px) {
  .img {
    width: calc(40% - 1rem);
  }
}