.copy {
  color: white;
}

.intro {
  width: 100%;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: 0 auto 2rem;
  max-width: 900px;
}

.title {
  margin: 0.5em;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 700px) {
  .landing {
    padding: 4rem 1rem 2rem;
  }

  .img {
    order: 0;
    margin-top: -2rem;
  }

  .copy {
    order: 1;
  }

  .header {
    margin-top: -1rem;
  }
}

@media (min-width: 701px) {
  .header {
    font-size: 2.5rem;
  }
}