.label {
  display: block;
  width: 90%;
  min-width: 130px;
  margin: 0 auto;
  padding: 0.2em;
}

.title {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

.img {
  width: 100%;
}

@media (min-width: 700px) {
  .label {
    min-width: 148px;
  }
}