.root {
  position: relative;
}

.title {
  position: absolute;
  top: 10%;
  left: 0;
  text-align: center;
  z-index: 1;
  font-size: 1.2rem;
  padding: 0.2em;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.img {
  width: 152px;
  float: right;
}