.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 4rem;
  margin-right: 2rem;
}

.lists {
  display: flex;
  flex-wrap: wrap;
}

.list {
  width: 380px;
  margin: 0 0 0 1.5rem;
}

@media (min-width: 1353px) {
  .wrapper {
    justify-content: center;
  }
}