@import '../styles/custom-properties.css';

.root {
  border-top: 1px solid white;
  padding: 0.5em;
  margin: 0;
}

.root.open {
  padding-bottom: 0;
}

.root:last-child {
  border-bottom: 1px solid white;
}

.question {
  position: relative;
}

.question p {
  margin: 0;
  margin-right: 1rem;
}

.icon {
  position: absolute;
  height: 23px;
  right: 0;
  top: 50%;
  margin-top: -11.5px;
  transform: rotate(0deg);
  transition: transform 300ms ease-in-out;
}

.icon.open {
  transform: rotate(180deg);
}

.answer {
  margin: 0;
  padding: 0;
  height: 0;
  visibility: hidden;
  transform: translateY(-3px);
  background-color: var(--sec-dark);
  transition: all 200ms ease-in-out;
  overflow: hidden;
}

.answer.open {
  margin: 0.5em -0.5em -0.5em;
  visibility: visible;
  padding: 1em;
  background-color: white;
  height: fit-content;
  transform: translateY(0px);
}