@import '../styles/custom-properties.css';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.wrapper {
  max-width: 650px;
  margin: 0 auto;
  font-size: 2.6rem;
}

.quote {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 400;
  display: inline-block;
  backdrop-filter: blur(1px);
  width: fit-content;
}

.by {
  display: block;
  text-align: right;
  margin-right: 2rem;
  background-color: var(--sec-dark);
}