@import '../styles/custom-properties.css';

.root {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2rem;
  margin-bottom: 0;
}

.inputs {
  padding: 1rem 0;
}

.response {
  color: green;
  font-weight: bold
}

.error {
  color: red;
}