.grid {
  margin-top: 2rem;
  display: grid;
  gap: 0px 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
  grid-row-end: span 1;
  width: 100%;
}

@media (min-width: 740px) {
  .grid {
    padding: 0 4rem;
    grid-template-columns: 1fr 1fr;
    /* gap: 0px 3rem; */
  }
} 